<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("./partials/head") %> 
</head>
    <%- include("./partials/header") %>
    <div class="jumbotron jumbotron-fluid">
        <h1>Home Page</h1>
        <a href="http://localhost:3000/musicians">Musicians</a>
    </div>
        

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>