<%- include('../partials/head', {pageName: "Create new Musician"}) %>
<body>
<%- include('../partials/header') %>

<main>
    <div class="container">
    <h1>Create new Musician</h1>
    <form method="POST" action="/musicians">
        <div class="mb-2">
            <label for="name">Enter Artist's Name</label>
            <input class="form-control" type="text" name="name" id="name">
        </div>
        <div class="mb-2">
            <label class="form-label" for="name">Enter Url for Image</label>
            <input class="form-control" type="text" name="image" id="image">
        </div>
        <div class="mb-2">
            <label  class="form-label" for="name">Enter Artist's Instruments</label>
            <input class="form-control" type="text" name="instrument" id="instrument">
        </div>
        <div class="text-center my-2 py-2">
<input type="submit" class="btn btn-success" value="Add new Artist" />
        </div>
        
    </form>
    </div>


 
</main>



<footer>
    <%- include('../partials/footer') %>
</footer>
</body>