<%- include("../partials/head") %>



<body>
<%- include("../partials/header") %>
<div class="contianer">
    <div class="jumbotron">
<h1 class="text-center">apiUsers Page</h1>
    </div>
    

</div>







<footer>
<%- include("../partials/footer") %>
</footer>
</body>







